<mapper namespace="com.MusicShare.DAO.CommentDAO">
    <select id="getCommentsByMusicId" resultType="Comment">
        SELECT * FROM comments WHERE music_id = #{musicId}
    </select>

    <insert id="addComment" parameterType="Comment">
        INSERT INTO comments (music_id, user_id, content, created_at)
        VALUES (#{musicId}, #{userId}, #{content}, NOW())
    </insert>

    <delete id="deleteComment" parameterType="int">
        DELETE FROM comments WHERE comment_id = #{commentId}
    </delete>

    <update id="updateComment" parameterType="Comment">
        UPDATE comments
        SET content = #{content}
        WHERE comment_id = #{commentId}
    </update>
</mapper>
