<mapper namespace="com.MusicShare.DAO.NotificationDAO">
    <select id="getNotificationsByUserId" resultType="Notification">
        SELECT * FROM notifications WHERE user_id = #{Personal_InformationId}
    </select>

    <insert id="addNotification" parameterType="Notification">
        INSERT INTO notifications (user_id, message, created_at)
        VALUES (#{Personal_InformationId}, #{message}, NOW())
    </insert>

    <delete id="deleteNotification" parameterType="int">
        DELETE FROM notifications WHERE notification_id = #{notificationId}
    </delete>

    <update id="updateNotification" parameterType="Notification">
        UPDATE notifications
        SET message = #{message}
        WHERE notification_id = #{notificationId}
    </update>
</mapper>
